
.button_logOut {


    display: flex;
    justify-content: space-around;
}

.button_3 {
    text-decoration: none;
    border: 0.75px solid #3C3C3C;
    padding: 13px 17px;
    font-size: 18px;
    font-weight: 300;
}