@import "../settings/colors";
@import "../settings/fonts";

.container {
    &_contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-size: 38px;
        // background-image: url('../../assets/Background-Contact-Form.jpg');
        height: 1026px;
        width: 1900px;
        // filter: opacity(.3);

        position: relative; 
        // height: 100vh;
        width: 100%;

        &::before {    
            content: "";
            background-image: url('../../assets/Background-Contact-Form.jpg');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.3;
      }



        
        
        &_text {
            margin-right: 236px;
            // filter: none;
            color: $font-base;
            text-align: center;

            position: relative;
             
            // font-size: 14rem;
            // line-height: 0.9;
            text-align: center;

            &::after {
                content: "";
                background-image: url('../../assets/Decoration.svg');
                position: relative;
                width: 253px;
                height: 33px;
                display: block;
                margin-top: 25px;
                right: -62px;
                margin-bottom: 70px;
                }
        }
    }


}

.contact-form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin-right: 142px;
    z-index: 1;
    width: 528px;

    &_name,
    &_email {
        // display: flex;
        margin-bottom: 40px;
        width: 256px;
        height: 62px;
        margin-right: 16px;

        input {
            width: 256px;
            font-size: 18px;
        }

        form {
            margin-bottom: 44px;
        }

    }
    
    &_message {
    display: flex;
    flex-direction: column;

}

.contact-form2 {
    display: flex;
}


textarea {
    margin-top: 12px;
    border: 0;
    border-bottom: 1px solid black;

}

}

.contact-form_send {
    width: 150px;
    height: 50px;
    margin-top: 44px;
    background: #FFFFFFC9;
    font-size: 18px;
    border: 0.75px solid black;
    position: relative;
    left: 400px;
    cursor: pointer;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 18px;
}
.error_message {
    color: red;
}

.success_message {
    font-size: 20px;
    font-weight: 700;
    color: green;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}