@import "../settings/colors";
@import "../settings/fonts";


.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 142px;


    &_sign {
        font-size: 14px;
        color: $light-grey;
        margin-top: 46px;
        margin-bottom: 34px;

       


        &-links {
            text-decoration: none;
            color: inherit;
            margin-left: 20px;
            &:hover {
                border: $yellow solid 0.75px;
                padding: 10px;
            }

        }
    }

    &_navigation {
        font-size: 18px;
        color:  $dark-grey;

        &-links {
            text-decoration: none;
            color: inherit;
            margin-left: 55px;
            margin-top: 34px;
            padding: 9px;

            &:hover {
                border: black solid 1px;

            }

        }
    }
}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-position: -110%;
    height: 963px;


    &_content {
        margin-top: 219px;
        margin-right: 275px;
        font-size: 38px;
        color: $dark-grey;

       

        &-theme {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            
            &::after {
                content: "";
                background-image: url('../../assets/Decoration.svg');
                position: relative;
                width: 253px;
                height: 33px;
                display: block;
                margin-top: 25px;

            }


            }
    
        

        &-boxes {
            display: flex;
            font-size: 36px;
            width: 674px;
            margin-top: 65px;
            position: relative;
            font-weight: 300;

             
           
    

            

            &-box {
                border: 0.75px solid $dark-grey;
                margin-right: 44px;
                padding: 13px 93px;
                width: 310px;
                text-decoration: none;
                color: inherit;
                
            }
        }
    }
}




