@import "../settings/colors";
@import "../settings/fonts";

.signIn {

    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
        font-size: 40px;
        margin-bottom: 67px;
        margin-top: 123px;
    }
    
    }
        
    
.sign_form{
    width: 395px;
    height: 250px;
    background: $white;
    font-size: 16px;
    font-weight: 400;
   

}

.sign {
    &_form_name {
    flex-direction: column;
    align-items: center;
    padding: 40px 67px;

    &-email,
    &-pass {
        // position:relative;
        // left: -80px;
        margin-left: 67px;
        margin-top: 30px;
    }

    input {
        background: #F0F1F1;
        height: 35px;
        width: 250px;
        margin-bottom: 31px;
        margin-left: 67px;
    }
}
}

.button {
    // text-align: center;
    margin-top: 40px;
    &_1,
    &_2 {
        font-family: $font-base;

        // width: 117px;
        height: 50px;
        font-weight: 300;
        background: none;
        font-size: 18px;
        border: none;
        text-decoration: none;
        margin-top: 40px;
        width: 117px;
    }
    &_1{
        position: absolute;
        left: 640px;
        top: 700px;
    }
    &_2 {
        border: 0.75px solid $dark-grey;
        padding: 15px 13px;
        margin-left: 350px;
    }
}
.error_message-log {
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
    color: red;
    font-size: 14px;
}



